.form-group
  %label{for: "#{defi.name}"}
    =defi.name
  -case (defi.type)
    -when "date"
      %input.form-control{type: "text", name: "#{defi.name}", id: "datepicker"}
%script{:type => "text/javascript", :src => "#{url_for('/libs/jquery-ui/jquery-ui.min.js')}"}
:javascript
  $(function() {
    $( "#datepicker" ).datepicker();
  });
