%h1
  Streaks
.hr
-users.each do |user|
  .user
    %h4
      %a{href: "#{url_for("/user/#{user.id}")}"}
        =user.name
    -user.streaks.each do |streak|
      %a{href: "#{url_for("/streak/#{streak.id}")}"}
        =streak.title
  
:javascript
